@import './normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap");
html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 2rem;
  background-color: #262c34;
  color: #262c34;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.todo h1 {
  font-size: 7rem;
  font-weight: 100;
  color: #d9d185;
}
.todo form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50rem;
  padding: 1rem 0.5rem 1rem 2rem;
  background-color: #d9d185;
  border-radius: 2rem;
}
.todo form input {
  width: 100%;
  height: 4rem;
  padding: 0 0.5rem;
  border: none;
  background-color: transparent;
}
.todo form input:hover, .todo form input:focus {
  outline: none;
}

.todoList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50rem;
  padding: 1rem 1rem 1rem 2rem;
  background-color: #d9d185;
  border-radius: 2rem;
}

.completed label {
  opacity: 0.5;
  text-decoration: line-through;
}

.todoItem {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  width: 100%;
  height: 5rem;
}
.todoItem .toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: 3rem;
  height: 3rem;
  border: 1px solid #262c34;
  border-radius: 1rem;
  outline: none;
  transition-duration: 0.3s;
  background-color: transparent;
  cursor: pointer;
}
.todoItem .toggle:checked {
  border: 1px solid white;
  background-color: #262c34;
}
.todoItem .toggle:active {
  border: 10px solid #262c34;
}
.todoItem div.inputItem {
  width: 100%;
  overflow: scroll;
  margin: 0 1rem;
}
.todoItem div.inputItem .editInput {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  font-style: italic;
}
.todoItem div.inputItem .editInput:focus {
  outline: none;
}
.todoItem:hover .todoFunc button {
  color: #262c34;
}

.todoFunc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.todoFunc button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: transparent;
  font-weight: 900;
}
.todoFunc button:hover {
  color: #262c34;
}

.sign {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #d9d185;
}
.sign h1 {
  font-size: 7rem;
  font-weight: 100;
}
.sign form {
  text-align: center;
  margin-top: 3rem;
}
.sign form input {
  background-color: #d9d185;
  border-radius: 2rem;
  height: 3rem;
  padding: 1rem;
  text-align: center;
  color: #262c34;
  margin-top: 1rem;
}

.user {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d9d185;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  left: 2rem;
  top: 2rem;
  height: auto;
}
.user:hover .logout {
  display: block;
}
.user .logout {
  display: none;
  background-color: transparent;
  border: none;
  color: red;
  margin-left: 1rem;
}
.user .logout::before {
  content: "|";
  margin-right: 1rem;
  color: gray;
}

.todoCount {
  color: #d9d185;
  font-size: 1.3rem;
  margin-top: 2rem;
}/*# sourceMappingURL=App.css.map */